In [ ]:
import pandas as pd

In [ ]:
dataset = pd.DataFrame({
    'Sexo': ['H', 'M', 'M', 'M', 'M', 'H', 'H', 'H', 'M', 'M'],
    'Idade': [53, 72, 54, 27, 30, 40, 58, 32, 44, 51]
})

In [ ]:
dataset.mean()

<ipython-input-13-e55bc0ed4499>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dataset.mean()

Idade    46.1
dtype: float64

In [ ]:
dataset.groupby('Sexo').mean().loc['H']

Idade    45.75
Name: H, dtype: float64